$width: 70px;
$chair-width: 30px;
$chair-height: 10px;

$color: burlywood;

.TableCanvasWidget {
    min-width: $width;
    min-height: $width;
    border-radius: $width/2;
    background-color: $color;
    border: black solid 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.TableChair1 {
    position: absolute;
    left: -20px;
    width: $chair-height;
    height: $chair-width;
    top: 0;
    background-color: $color;
    border: black solid 2px;
    border-right: 0px;
}

.TableChair2 {
    position: absolute;
    left: -20px;
    width: $chair-height;
    height: $chair-width;
    bottom: 0;
    background-color: $color;
    border: black solid 2px;
    border-right: 0px;
}

.TableChair3 {
    position: absolute;
    right: -20px;
    width: $chair-height;
    height: $chair-width;
    top: 0;
    background-color: $color;
    border: black solid 2px;
    border-left: 0px;
}

.TableChair4 {
    position: absolute;
    right: -20px;
    width: $chair-height;
    height: $chair-width;
    bottom: 0;
    background-color: $color;
    border: black solid 2px;
    border-left: 0px;
}